.toggle{
    display:flex;
    align-self:center;
    justify-self: right;
}
.toggle-body{
    width:50px;
    height:20px;
    border-radius:10px;
    position:relative;
    overflow:hidden;
    /* background:var(--primary); */
    background:var(--light);

    box-shadow:inset 1px 2px 3px  var(--shadow, black);
}
.toggle-slider{
    position:absolute;
    background:var(--background);
    width:45%;
    height:16px;
    left:2px;
    top:2px;
    border-radius: 10px 4px 4px 10px;
    box-shadow: 1px 2px 3px var(--shadow, black);
}
.toggle-body input,.toggle-body checkbox{
    position:absolute;
    left:-1000px;
}
checkbox:checked + .toggle-slider, input:checked + .toggle-slider{
    left:unset;
    right:2px;
    top:2px;
    border-radius: 4px 10px 10px 4px;
}
.toggle-label{
    margin-right:5px;
}
