.page-title  > * {
    text-align: center;
    font-size:100px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 400;
}
.page-title .name{
    font-size:30px;
    font-weight:700;
    text-transform:uppercase;
}
.page-title .career-title{
    /* font-family:var(--display-font,Helvetica); */
    font-family:var(--display-font,helvetica);
    font-size:30px;
}
#title{
    width:100%;
    height:calc(100vh - 63px);
    background:var(--primary);
    background-image:var(--title-img);
    background-position:center;
    background-size:cover;
    color:var(--background);
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    box-sizing: border-box;
}
#title *{
    box-sizing: border-box;
}
#title .contact-frame{
    position:absolute;
    bottom:10px;
    right:10px;
}
.indentity{
    display:block;
}

#title .logo{
    max-height:70%;
    max-width:80%;
    width:80%;
    height:80%;
}
.title-mask{
    background:var(--colored-screen);
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    padding-bottom:100px;
}
.page-title hr{
    width:50%;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
@media only screen and (min-device-width:768px){
    #title {
        background-attachment: fixed;
    }
}
@media only print{
    #title{
        max-height:15%;
        height:175px;
        background-position: 50% 35%;
        -webkit-print-color-adjust: exact !important;
        color-adjust:exact !important;
    }
    #title {
        justify-content: unset;
    }
    #title .logo{
        height:125px;
        width:auto;
        position:absolute;
        left:0px;
    }
    .page-title .name{
        font-size:30px;
        font-weight:700;
        text-transform:uppercase;
    }
    .page-title .career-title{
        /* font-family:var(--display-font,Helvetica); */
        font-family:var(--display-font,helvetica);
        font-size:30px;
    }
}
